{
  "sitesToPoll": {
    "ACCUWEATHER": 1,
    "GIDROMET": 1,
    "GISMETEO": 1,
    "RP5": 1,
    "WEATHERCOM": 1,
    "YANDEX": 1,
    "YRNO": 1
  },
  "pollInMinutes": [
    5, 35
  ],
  "locLimit": 0,
  "pollOnce": 0,

  "defaultForecastService": "ACCUWEATHER",
  "countingHour": 14,

  "storing": {
    "storeTemps": 1,
    "storeSiteCode": 0,
    "busyTimeout": 20000
  },

  "webserver": {
    "host": "127.0.0.1",
    "port": "3000"
  }
}