{
  "sitesToPoll": {
    "ACCUWEATHER": 1,
    "GIDROMET": 1,
    "GISMETEO": 1,
    "RP5": 1,
    "WEATHERCOM": 1,
    "YANDEX": 1,
    "YRNO": 1
  },
  "pollInMinutes": [
    0, 15, 30, 45
  ],
  "pollOnce": 0,
  "locLimit": 0,

  "storing": {
    "storeTemps": 1,
    "storeSiteCode": 0,
    "busyTimeout": 20000
  },

  "webserver": {
    "host": "45.135.164.204",
    "port": "80"
  }
}